<div class="container">
    <!-- Tarjeta -->
    <section class="card" id="card">
        <div class="front">
            <div class="logo" id="logo">
                 <img src="../../../assets/img/mastercard.png" alt="">
            </div>
            <img src="../../../assets/img/chip.png" class="chip" alt="">
            <div class="datos">
                <div class="group" id="number">
                    <p class="label">Código</p>
                    <p class="number">#### #### #### ####</p>
                </div>
                <div class="flexbox">
                    <div class="group" id="name">
                        <p class="label">Nombre </p>
                        <p class="name">Nombre Apellido</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="back">
            <div class="magnetic-bar"></div>
            <div class="data">
                <div class="group" id="signature">
                    <p class="label">Firma</p>
                    <div class="signature"><p></p></div>
                </div>
            </div>
            <p class="parragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus exercitationem, voluptates illo.</p>
            <a href="#" class="bank-link">www.uco.edu.co</a>
        </div>
    </section>
    </div>